.gallery {
  display: flex;
  gap: 10px;
  /* 图片之间的间距 */
  justify-content: center;
  margin-top: 20px;
}

.gallery img {
  width: 150px;
  /* 设置图片宽度 */
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}